In [ ]:
import pandas as pd

df_master = pd.read_csv('master_wisata.csv')
df_nusantara = pd.read_csv('wisata_nusantara.csv')
df_wisata_indonesia = pd.concat([df_master, df_nusantara], ignore_index=True)

df_wisata_indonesia.to_csv('wisata_indonesia.csv', index=False)
print(df_wisata_indonesia.head())

     kategori                nama_wisata  latitude   longitude  \
0        mall  23 Paskal Shopping Center -6.915388  107.594302
1        mall              AEON Mall BSD -6.304409  106.644157
2  air terjun     Air Terjun Bantimurung -5.016520  119.685520
3  air terjun  Air Terjun Benang Kelambu -8.532770  116.337011
4  air terjun   Air Terjun Benang Stokel -8.533036  116.341379

                                              alamat             provinsi  \
0  23 Paskal Shopping Center, 25-27, Jalan Kebon ...           Jawa Barat
1  Ã†ON Mall, Jalan BSD Raya Utama, BSD City, Page...               Banten
2  Air Terjun Bantimurung, Jalan Poros Bantimurun...     Sulawesi Selatan
3  Air Terjun Benang Kelambu, Pemotoh, Lombok Ten...  Nusa Tenggara Barat
4  Air Terjun Benang Stokel, Pemotoh, Lombok Teng...  Nusa Tenggara Barat

        kota_kabupaten
0         Kota Bandung
1  Kabupaten Tangerang
2             Sulawesi
3        Lombok Tengah
4        Lombok Tengah